

html
{
	min-height:100%;
}

body {
	margin: 0;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
    line-height: 24px;
}

a{
	text-decoration: none
}

a:focus{
	outline-color:black;
}

* {

    box-sizing: border-box;

}

/* Header */

.header{
	width: 100%;
    min-height: 100vh;
    background: url(images/1.jpg) no-repeat center / cover fixed;
    position: relative;
}

.header2{
	width: 100%;
    min-height: 100vh;
    background: url(images/2.jpg) no-repeat center / cover fixed;
    position: relative;
}

.header3{
	width: 100%;
    min-height: 100vh;
    background: url(images/3.jpg) no-repeat center / cover fixed;
    position: relative;
}

.header4{
	width: 100%;
    min-height: 100vh;
    background: url(images/4.jpg) no-repeat center / cover fixed;
    position: relative;
}

.logo {
	width:120px;
	height:120px;
	padding-top:5px;
}

h1 { 
    display: flex;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3{
    padding: 0px;
    margin: 0px;
}
	
/* Slideshow */
#slide {
	width:100%;
	}
	

.mySlides {
	display: none
}

.slideshow-container {
	width:100%;
	position: relative;
	margin:0;

}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	transition: 1s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(30, 101, 109, .8);
}



/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

.header__text {
	margin:0;
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
	width: auto;
	margin-right:22%;
	padding: 16px;
	color: white;
	font-weight: bold;
	line-height: 1.2em;
	font-size: 3.5em;
	transition: 2s ease;
	border-radius: 0 3px 3px 0;
}

.header__text2 {
	position:absolute;
	top:70%;
	margin:0;
	display:flex;
	align-items:flex-end;
	justify-content:flex-start;
	width: auto;
	margin-left:9%;
	padding: 16px;
	color: #555;
	font-weight: bold;
	font-size: 3em;
	transition: 2s ease;
	border-radius: 0 3px 3px 0;
}

.header__text3 {
	margin:0;
	display:flex;
	align-items:flex-end;
	justify-content:flex-end;
	width: auto;
	margin-left:15%;
	margin-top:10%;
	padding: 16px;
	color: #222;
	font-weight: bold;
	font-size: 3.5em;
	transition: 2s ease;
	border-radius: 0 3px 3px 0;
}

.header__text4 {
	margin:0;
	display:flex;
	align-items:flex-start;
	justify-content:flex-start;
	width: auto;
	margin-left:15%;
	margin-top:10%;
	padding: 16px;
	color: #FFFF66;
	font-weight: bold;
	font-size: 3.5em;
	transition: 2s ease;
	border-radius: 0 3px 3px 0;
}

/* About */

.about {
	display:block;
}

.about__wrapper{
	max-width: 950px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__header{
	font-weight:bold;
	font-size:3.5em;
	display: flex;
	color:#1e656d;
    justify-content: space-around;
}

.about__text{
	padding: 0px 10px 0px 10px;
	font-size:1.2em;
	display: flex;
    justify-content: space-around;
}

.button{
	margin:25px 0px 10px 0px;
	text-decoration:none;
	font-weight:bold;
	display: flex;
	justify-content:space-around;
	width:159px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
    padding: 10px 20px;
    border: 1.5px solid #1e656d;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #1e656d;
    transition: .4s;
}

.button:hover{
	color:white;
	background-color:#1e656d;
	transition-duration:0.5s;
}

/* Statistics */

.statistics {
	width: 100%;
    min-height: 35vh;
    background: url(images/awards.jpg) no-repeat center / cover fixed;
	vertical-align:baseline;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	position:relative;
}


.statistics__wrapper {
	max-width:1900px;
	padding-top:10vh;
	z-index:250;
    margin:auto;
}


ul {
	
	list-style-type: none;
	margin:auto;
	height:100%;
	max-width:1900px;
	display: flex;
	flex:1;
	align-content:space-around;
	justify-content: space-around;
	text-align:center;
	flex-direction:row;
	z-index:200;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.overlay {
	position:absolute;
	z-index:100;
	min-width:100%;
	min-height:35vh;
	background-color:rgba(0,0,0,0.5);
}

.statistics__list {
	z-index:250;
	margin:30px;
	width:200px;
	height:100%;
	display: flex;
	flex-wrap:wrap;
	flex-direction:row;
    justify-content: space-around;
	align-items:center;
}

.statistics__number{
	min-width:90px;
	font-weight:bold;
	color:white;
	font-size:4em;
	text-align:center;
}

.statistics__text{
	line-height: 1em;
	display:flex;
	align-items:flex-end;
	justify-content:flex-end;
	flex-direction:row;
	color:white;
	font-size:1.5em;
	text-align:center;
	vertical-align:text-bottom;
	margin: 25px 5px 5px 5px;
}

.expertise {
	max-width:1300px;
	display:flex;
	margin-left:auto;
	margin-right:auto;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}

.expertise__left {
	position:relative;
	width:100%;
	height:auto;
	padding-top:10vh;
	display:flex;
	justify-content:center;
}

.expertise__imageleft {
	width:51.5%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	float:left;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.expertise__imagel{
	position:relative;
	width:100%;
	height:auto;
	display:block;
	object-fit: cover;
	vertical-align:middle;
	border-right: 40px solid #1e656d;
	border-left: 5px solid #1e656d;

}


.expertise__headerleft {
	font-weight:bold;
	font-size:2.5em;
	line-height:1em;
	color:#1e656d;
	margin: 10px 10px 30px 30px;
}

.expertise__textleft {
	float:left;
	padding: 0px 10px 0px 10px;
	font-size:1.2em;
	max-width:48.5%;
	display:flex;
	text-align:left;
	flex-direction:column;
	justify-content:center;
}

.expertise__descriptionleft{
	font-size:1em;
	line-height:1em;
	margin: 10px 10px 30px 30px;
	
}

.expertise__imager{
	position:relative;
	width:100%;
	height:auto;
	display:block;
	object-fit: cover;
	vertical-align:middle;
	border-left: 40px solid #1e656d;
	border-right: 5px solid #1e656d;
	
}

.expertise__right {
	position:relative;
	width:100%;
	height:auto;
	padding-top:10vh;
	display:flex;
	justify-content:center;
	flex-direction:row-reverse;
}

.expertise__imageright {
	width:51.5%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	float:left;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}


.expertise__headerright{
	font-weight:bold;
	font-size:2.5em;
	text-align:right;
	line-height:1em;
	color:#1e656d;
	margin: 10px 30px 30px 10px;
}

.expertise__textright {
	float:left;
	padding: 0px 10px 0px 10px;
	font-size:1.2em;
	text-align:right;
	max-width:48.5%;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.expertise__descriptionright{
	font-size:1em;
	line-height:1em;
	margin: 10px 30px 30px 10px;
	
}

.crew {
	z-index:250;
	height:100vh;
	max-width:100%;
	margin:auto;
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	background: url(images/8.jpg) no-repeat center / cover fixed;
	vertical-align:baseline;
	background-size: cover;
	-moz-background-size: cover;
	margin-top:15vh;
	-webkit-background-size: cover;
	-o-background-size: cover;
	position:relative;
}

.overlay2{
	position:absolute;
	min-width:100%;
	min-height:100vh;
	z-index:50;
	background-color:rgba(0,0,0,0.5);
}

.crew__header {
	position:relative;
	font-weight:bold;
	font-size:3em;
	line-height:1em;
	color:white;
	z-index:50;
	margin:  auto;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}
 
.crew__wrapper{
	max-width:1600px;
	height:80%;
	position:relative;
	z-index:250;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-direction:row;
}
 
.crew__column {
	float:left;
	width:25%;
	display:flex;
	flex-direction:column;
	align-items:center;
	height:65vh;
	max-height:85vh;
	z-index:250;
	background-color:white;
	

}


.crew__image {
	width:100%;
	height:70%;
	position:relative;
	border-top: 5px solid #1e656d;
	border-bottom: 30px solid #1e656d;

}

.crew__imagedetails {
	width:100%;
	height:100%;
	display:block;
	object-fit: cover;
	vertical-align:middle;
	position:relative;
}

.crew__name {
	font-weight:bold;
	font-size:2em;
	color:#1e656d;
	text-align:center;
	line-height:1em;
	padding:10px;
	margin:7.5% 0px 0px 0px;
}

.crew__occupation {
	font-size:1.5em;
	color:black;
	text-align:center;
	line-height:1em;
	
}

.crew__social{
	width:70%;
	display:flex;
	justify-content:space-around;
	padding:5px;
	height:auto;
	margin:15px auto 7.5% auto;
}

.crew__socialicon{
	
	color:black;
}


.crew__socialicon:hover{
	color: #1e656d;
	transition-duration:0.2s;
}


.gallery {
	width:100%;
	height:30vh;
	margin-top:15vh;
	margin-bottom:15vh;
}

.gallery__wrap{
	position:relative;
	width:16.666666666666667%;
	height:30vh;
	display:flex;
	flex-wrap:wrap;
	float:left;
	outline-color: #1e656d;
}

.gallery__img {
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	float:left;
	display:block;
	object-fit: cover;
	vertical-align:middle;
	outline:1;
	outline-color: #1e656d;
}

.gallery__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:rgba(102, 102, 102, 0.3)
}

.gallery__wrap:hover .gallery__overlay {
	opacity: 1;
}

.gallery__text {
	color: #fff;
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.form{
	width:100%;
	height:100vh;
}

.quote__all{
	width:100%;
	min-height:610px;
    position: relative;
	box-sizing: border-box;
    display: block;
}

.quote__header{
	font-weight:bold;
	line-height:1em;
	text-align:center;
	font-size:3.5em;
	display: flex;
	color:#1e656d;
    justify-content: space-around;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
	
.quote--active{
    opacity: 1!important;
    transition: 0.3s;
}

.quote__all:before{
	clear:both;
}

.quote {
    width: 60%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    text-align: center;
    color: black;
    opacity:0;
    transition: 0.3s;
}

.wrapper {
    max-width: 1050px;
	height:inherit;
    margin: 7.5vh 0 0 0;
}

.quote__button--active {
    transform: scale(1.4);
}

.quote__buttons {
    width: 100%;
	height:inherit;
    position:absolute;
	bottom:0;
	padding:35px 20px 37px 20px;
	border-top: 2px solid #e1e1e1;
	border-bottom: 2px solid #e1e1e1;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.quote__button {
    width: 15%;
	height:150px;
    padding:0;
	margin:0;
    border: 0px solid transparent;
    border-radius: 50%;
    background: transparent;
    transition: .3s;
	outline-color: #1e656d;
	cursor:pointer;
}

.quote__button-img{
	width:100%;
	height:150px;
}

.quote__text {
	text-align:left;
	font-size:1.2em;
}
.quote__name{
	text-align:left;
	padding-top:10px;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
	font-size:1.4em;
}
.quote__occupation{
	text-align:left;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 40px;
	font-size:1.1em;
	color:#1e656d;
	font-weight:bold;
    -webkit-margin-end: 40px;
}

.form {
	z-index:250;
	height:60vh;
	max-width:100%;
	margin:auto;
	display:flex;
	align-items:center;
	flex-direction:row;
	justify-content:center;
	background: url(images/form.jpg) no-repeat center / cover fixed;
	vertical-align:baseline;
	background-size: cover;
	-moz-background-size: cover;
	margin-top:15vh;
	margin-bottom:15vh;
	-webkit-background-size: cover;
	-o-background-size: cover;
	position:relative;
}

.form__firsthalf{
	float:left;
	position:relative;
	width:50%;
	text-align:center;
}

.form__secondhalf{
	display:flex;

	justify-content:center;
	float:left;
	position:relative;
	width:50%;
}

.form__header {
	position:relative;
	font-weight:bold;
	font-size:3em;
	line-height:1em;
	color:white;
	z-index:50;
	margin:  auto;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
	
}

.form__class
{
	text-align:left;
}

.form__inputclass{
	padding:16px;
	width:100%;
	margin:2px;
	border:2px solid #1e656d;
	font-size:1em;
	font-family: 'Quattrocento Sans', sans-serif;
}

.form__send{
	margin:25px 0px 10px 0px;
	text-decoration:none;
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight:bold;
	display: flex;
	justify-content:space-around;
	width:100%;
	z-index:100;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
    padding: 10px 20px;
    border: 2px solid #1e656d;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #1e656d;
    transition: .4s;
}

.form__send:hover{
	color:white;
	background-color:#1e656d;
	transition-duration:0.5s;
}

footer {
	border-top:1px solid #DDD;
	height:25vh;
	display:flex;
	justify-content:center;
	width:100%;
	align-content:flex-end;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:1.2em;
}

.footer__space{
	position:relative;

}

.footer__place {
	margin-top:10%;
	height:20%;
}

.footer__follow{
	padding:25px 0px 15px 0px;
	display:flex;
	height:20%;
	justify-content:space-around;
	align-items:center;
	flex-direction:row;
}

.footer__placepstyle {
	padding: 3px 0px 0px 0px;
	margin:0;
	-webkit-margin-before:0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	width:auto;

}



.footer__icons {
	width:35px;
	float:left;
	padding: 0px 5px 0px 0px;
}

.footer__logo{
	width:30px;
	margin-left:10px;
	vertical-align:middle;
}

.footer__rights {
	height:40%;
	position:relative;
	display:flex;
	justify-content:center;
	align-content:flex-end;
	flex-direction:row;
}

.footer__rightsstyle{
	padding: 3px 0px 0px 0px;
	margin:0;
	-webkit-margin-before:0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	width:auto;
	position:relative;
	display:flex;
	align-items:flex-end;
	padding: 10px 0px 20px 0px;
}

@media (max-width:1300px){

.gallery__wrap{
	position:relative;
	width:33.33333333333334%;
	height:25vh;
	float:left;
	display:flex;
	flex-wrap:wrap;
}

.gallery {
	width:100%;
	height:50vh;
	margin-top:15vh;
	margin-bottom:15vh;
}

.gallery__img {
	position:relative;
	width:100%;
	height:25vh;
	margin:0;
	float:left;
	display:block;
	object-fit: cover;
	vertical-align:middle;
}

}


@media (max-width:930px){
	.expertise__left {
		flex-direction:column;
		align-items:center;
	}
	
	.expertise__right {
		flex-direction:column;
		align-items:center;
	}
	
	.expertise__textright{
		max-width:100%;
	}
	
	.expertise__imageright {
		max-width:90%;
	}
	
	.expertise__headerleft {
		text-align:center;
		margin:15px 0px 25px 0px;
	}
	
	.expertise__descriptionright{
		text-align:left;
	}
	
	.expertise__headerright{
		text-align:center;
		margin:15px 0px 25px 0px;
	}
	
	.expertise__textleft{
		max-width:100%;
	}
	
	.expertise__imageleft {
		max-width:90%;
	}
	
}

@media (max-height:830px){
.crew__name{
		margin:auto;
		padding:0px;
	}
	
	.crew__social{
		margin:auto;
	}
	
}

@media (max-width:1620px){
.quote {
    width: 80%;
    
}

.wrapper {
	max-width:1200px;
}

.quote__all{
	min-height:570px;
	
}

@media (max-width:1340px){
.quote__all{
	min-height:610px;
}
}

@media (max-width:980px){
.quote {
    width: 100%;
    padding:5px;
}

.wrapper {
	max-width:1200px;
}
	
}