

html
{
	min-height:100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 16px;
    line-height: 24px;
}


a:focus{
	outline-color:#fdfdfd;
	text-decoration: none
}

/* Header */

.header{
	width: 100%;
    min-height: 100vh;
    background: url(images/1.jpg) no-repeat center / cover fixed;
    position: relative;
}

.header2{
	width: 100%;
    min-height: 100vh;
    background: url(images/2.jpg) no-repeat center / cover fixed;
    position: relative;
}

.logo {
	width:120px;
	height:120px;
	padding-top:5px;
}

h1 { 
    display: flex;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3{
    padding: 0px;
    margin: 0px;
}
	
/* Slideshow */
#slide {
	width:100%;
	}
	

.mySlides {
	display: none
}

.slideshow-container {
	width:100%;
	position: relative;
	margin:0;

}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	transition: 1s ease;
	border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(30, 101, 109, .8);
}



/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 3s;
	animation-name: fade;
	animation-duration: 3s;
}
@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

.header__text {
	margin:0;
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
	width: auto;
	margin-right:22%;
	padding: 16px;
	color: white;
	font-weight: bold;
	line-height: 1.2em;
	font-size: 3.5em;
	transition: 2s ease;
	border-radius: 0 3px 3px 0;
}

.header__text2 {
	position:absolute;
	top:70%;
	margin:0;
	display:flex;
	align-items:flex-end;
	justify-content:flex-start;
	width: auto;
	margin-left:9%;
	padding: 16px;
	color: #666;
	font-weight: bold;
	font-size: 3em;
	transition: 2s ease;
	border-radius: 0 3px 3px 0;
}

/* About */

.about {
	display:block;
}

.about__wrapper{
	max-width: 950px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about__header{
	font-weight:bold;
	font-size:3.5em;
	display: flex;
	color:#1e656d;
    justify-content: space-around;
}

.about__text{
	font-size:1.2em;
	display: flex;
    justify-content: space-around;
}

.button{
	margin:25px 0px 10px 0px;
	text-decoration:none;
	font-weight:bold;
	display: flex;
	justify-content:space-around;
	width:157px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
    padding: 10px 20px;
    border: 1.5px solid #1e656d;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #1e656d;
    transition: .4s;
}

.button:hover{
	color:white;
	background-color:#1e656d;
	transition-duration:0.5s;
}

/* Statistics */

.statistics {
	width: 100%;
    min-height: 25vh;
    background: url(images/awards.jpg) no-repeat center / cover fixed;
	-webkit-filter: contrast(85%) brightness(50%) saturate(80%) sepia(25%) grayscale(25%);
	filter: contrast(85%) brightness(50%) saturate(80%) sepia(25%) grayscale(25%);
}


.statistics__wrapper {
	max-width: 1600px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
	flex-direction:row;
	position: relative;
}

.statistics__content {
	position:absolute;
	top:0;
	transform: translateY(25%);
}
ul {
	list-style-type: none;
	margin:0;
	max-width:1600px;
	display: flex;
    justify-content: space-around;
    align-items: center;
	flex-direction:row;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.statistics__list {
	margin:40px;
	max-width:230px;
	display: flex;
	flex-wrap:wrap;
	flex-direction:row;
    justify-content: space-around;
    align-self: center;
}

.statistics__number{
	font-weight:bold;
	color:white;
	font-size:4em;
	text-align:center;
}

.statistics__text{
	display:flex;
	align-items:flex-end;
	justify-content:flex-end;
	flex-direction:row;
	color:white;
	font-size:1.5em;
	text-align:center;
	vertical-align:baseline;
	padding: 20px 5px 5px 5px;
}

.expertise {
	width:100%;
	height:100vh;
}